PORT = "your_PORT"
MONGODB_URL = "your_MONGODB_URL"
CORS_ORIGIN = "your_CORS_ORIGIN"
ACCESS_TOKEN_SECRET = "your_ACCESS_TOKEN_SECRET"
ACCESS_TOKEN_EXPIRY = "your_ACCESS_TOKEN_EXPIRY"
REFRESH_TOKEN_SECRET = "your_REFRESH_TOKEN_SECRET"
REFRESH_TOKEN_EXPIRY = "your_REFRESH_TOKEN_EXPIRY"
CLOUDINARY_CLOUD_NAME = "your_CLOUDINARY_CLOUD_NAME"
CLOUDINARY_API_KEY = "your_CLOUDINARY_API_KEY"
CLOUDINARY_API_SECRET = "your_CLOUDINARY_API_SECRET"